doctype html
html
  head
    title= title
    // css
    link(rel='stylesheet', href='/stylesheets/hotpoint.css')
    link(rel='stylesheet', href='/stylesheets/classic.css')
    link(rel='stylesheet', href='/stylesheets/classic.date.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    // javascripts
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/Chart.min.js')
    script(src='/javascripts/picker.js')
    script(src='/javascripts/picker.date.js')
    script(src='https://maps.googleapis.com/maps/api/js?region=cn&language=zh-CN&key=AIzaSyBn4xnfoQ90m2GQARKfMf6OtMPIxrOJbss')
    script(src='/javascripts/markerclusterer.js')
    script(src='/javascripts/List.js')
    script(src='/javascripts/Mapster.js')
    script(src='/javascripts/map-option.js')
    script(src='/javascripts/loadJson.js')
    script(src='/javascripts/loadstate.js')
    //- script(src='/javascripts/hotpointEvent.js')
  body
    div.btnMenu
      svg(xmlns='http://www.w3.org/2000/svg', width='50', height='50', viewbox='0 0 50 50')
        path(d='M25,3C12.869,3,3,12.869,3,25s9.869,22,22,22s22-9.869,22-22S37.131,3,25,3z M36,26H26v10h-2V26H14v-2h10V14h2v10h10V26z')
    #map-hotpoint
    #modal
      svg#loading-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='48px', height='48px', viewbox='0 0 48 48', enable-background='new 0 0 48 48', xml:space='preserve')
        ellipse#ell(fill='#90CAF9', cx='24', cy='35.5', rx='18', ry='6.5')
        path#marker(fill='#FF3D00', d='M24,6c-6.075,0-11,4.858-11,10.85C13,22.843,24,37,24,37s11-14.157,11-20.15C35,10.858,30.075,6,24,6z\
        M24,22c-2.762,0-5-2.239-5-5s2.239-5,5-5c2.761,0,5,2.239,5,5S26.762,22,24,22z')
    #modal2
      #progressbar
        ul
          li
            i.icon.fa.fa-calendar
            h5 1.选择日期
            button.datepicker(name='date', data-value='2015/07/1') 选择
            #selectedDate
          li
            i.icon.fa.fa-pie-chart
            h5 2.选择图表
            select#chart-kind
              option(value='pie') 饼图
              option(value='bar') 柱状图
          li
            i.icon.fa.fa-check
            h5 3.生成 !
            button.generate 生成
      
      #chart-wrap
        i.fa.fa-angle-left(aria-hidden='true')
        h2
        canvas(id='chart', width='400', height='335')
      
      #loading
        i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
    
    script(src='/javascripts/map-hotpoint.js')
