doctype html
html
  head
    title= title
    // css
    link(rel='stylesheet', href='/stylesheets/index.css')
    // javascripts
    script(src='/javascripts/index.js')
  body
    header#header
      div.wrap
        div.brand Mapster
        nav
          ul
            li
              a(href='/topic', target='_blank') 话题
            li 
              a(href='/predict', target='_blank') 预测
            li
              a(href='/hotpoint', target='_blank') 热点
            li
              a(href='/poi', target='_blank') POI
              
    div#header-copy
      div.wrap
        div.brand Mapster
        nav
          ul
            li
              a(href='/topic', target='_blank') 话题
            li 
              a(href='/predict', target='_blank') 预测
            li
              a(href='/hotpoint', target='_blank') 热点
            li
              a(href='/poi', target='_blank') POI
            
    div#banner
    
    main
      section
        div.image
        div.description 
          h2 POI
          p 根据新浪微博API以及联系具体的昆明市兴趣点分布情况，使用聚类的方法进行分析后使用谷歌地图API在网页上显示出来。
      section
        div.description
          h2 热点
          p 使用新浪微博API对经过数据挖掘后的签到数据进行DBSCAN算法聚类，将聚类后的结果在使用谷歌地图API在网页上显示出来，用户可以通过点击查看具体的信息。
        div.image
      section
        div.image
        div.description
          h2 话题
          p 通过分析数据库中数据挖掘所得到的签到微博信息的具体微博内容，检索用户所输入的关键字，向用户反馈检索后的位置、签到情况等信息。
      section
        div.description
          h2 预测
          p 对挖掘到的11月数据进行ARIMA算法预测，对预测的结果重新使用DBSCAN算法聚类，得到11月份最后五天的数据，用户可以通过点击查看具体的信息。
        div.image
    
    footer
      div.avater
      div.avater
      div.avater
      div.avater
  
